.new-project {
  max-width: 600px;
}

.sidebar.toggled {
  transition: width 0.1s;
}

.sidebar {
  transition: width 0.1s;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.fade {
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0.5rem 1rem;
}

.modal-dialog {
  max-width: 350px;
  margin: 5rem auto;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.card {
  border-radius: 0;
}
.btn-icon-split .icon {
  padding: 0.35rem 0.5rem .3rem .475rem;
}
.spinner-border {
  width: 1.2rem;
  height: 1.2rem;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 5rem auto;
  }
  .container-fluid {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }  
}
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .card {
    border-radius: 0.35rem;
  }
}


.modal-footer {
  padding: 0px;
  border-top: 0px;
}

.modal-content {
  border-radius: 0;
}